*{
  padding: 0px;
  margin: 0px;
  font-family: Arial;
}
body{
  background-color: #0000FF;
}
.home{
  display: flex;
  flex-wrap: wrap;
}
.in-flex{
  flex: 1;
  min-width: 300px;
}
.in-flex:first-child{
  flex: 1;
  padding: 25px;
  margin: 20px;
}
.in-flex div {
  padding: 25px;
  margin: 20px;
}
